.container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 100px;
    padding-right: 100px;
}

.right-side {
    width: 50%;
  }
  img {
    width: 100%;
  }
.wrapper {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
  }
.input-error {
    border-color: red;
}

.input-error-message {
    color: red;
}
